<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-H9FCVSYVTM"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-H9FCVSYVTM');
  </script>

  <meta charset="UTF-8">
  <title>{{ .Site.Title }}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="/globals.css">
  <link rel="stylesheet" href="/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="outer">
    <main>
      {{ block "main" . }}
      <div class="wrapper">
        <div class="container">
          {{ .Content }}
          {{ partial "social-media.html" . }}
        </div>
      </div>
      {{ end }}
    </main>
    {{ partial "footer.html" . }}
  </div>
</body>

</html>